.footer {
    background-color: white;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p
{
    font-size: 30px;
    font-weight: bold;
    color: purple;
}